.footer__column-links {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal; 
  color: white;
  text-decoration: none;
  padding-left: 0;
  list-style: none;
}